.bandeauInteraction{
    background-color: grey;
    //position: sticky;
    top: 0;
    min-height: 3rem;
}

.card-img-top{
    border-radius: 0;
}

.card-subtitle{
    color: cadetblue;
}

.card{
    margin: 2rem;
    .card-header{
        h6{
            color: crimson;
        }
        a{
            color: black;
            font-size: 25px;
        }
    }
}